/* General page styling */
body {
    background-color: #d7e0eb;
    height: 100%; /* Set height to 100% of the viewport */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Header styling */
.course-dashboard__header {
    background-color: #181c6c;
    padding: 10px 20px;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.course-dashboard__logo {
    width: 120px;
    height: auto;
}

.course-dashboard__profile-icon {
    width: 5%;
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 8%;
    right: 11.2%;
    z-index: 10;
    transition: transform 0.3s ease;
}

.course-dashboard__profile-icon:hover {
    transform: scale(1.1);
}

.course-dashboard__profile-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-left: -90%;
    display: flex;
    align-items: center;
    height: 40%;
    margin-right: 3%;
}

.course-dashboard__profile-text {
    font-weight: bold;
}

/* Main content */
.course-dashboard__content {
    padding: 40px;
    background-color: #d7e0eb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.course-dashboard__title {
    margin-top: 2%;
    margin-left: -0.1%;
}

.course-dashboard__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    padding-bottom: 25%;
}

.course-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 260px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
}

.course-card:hover {
    transform: scale(1.08);
}

.course-card__thumbnail {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.course-card__title {
    padding: 10px 20px;
    font-size: 1.3em;
    text-align: center;
    color: #0b0a0a;
    margin: 0;
}

/* Footer */
.course-dashboard__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.course-dashboard__footer-content {
    text-align: center;
    color: #333;
}

.course-dashboard__footer-content p {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}